@model CreateEditMenuViewModel
@{
    string formAction = "Create";
    ViewData["Title"] = Resource.NewMenuAdminWeb;

    if (Model.Menu.id > 0)
    {
        formAction = "Edit";
        ViewData["Title"] = Resource.ModifMenuWeb;
    }

    //if(Model.Menu.id)


}

<div class="row">
    <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
        <div class="page-title">
            <h2> <i class="far fa-list-alt"></i> @Resource.NewMenuTitleAdmin</h2>
        </div>

        <div class="form-section">
            <form asp-action="@formAction">
                <input type="hidden" asp-for="Menu.id" />

                <div class="form-horizontal">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3"><b>Description</b></label>
                        <div class="col-md-9">
                            <input asp-for="Menu.nom" class="form-control" />
                            <span asp-validation-for="Menu.nom" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="text-center">
                    @if(true) { }
                    <input type="submit" value=@Resource.ButtonNewMenuChoice class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div class="links">
            <a asp-action="List">@Resource.ButtonReturnToList</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}