@model ListMenuViewModel
@{
    ViewData["Title"] = "Delete un choix de menu";
}

<div class="row">
    <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
        <div class="page-title">
            <h2> <i class="far fa-list-alt"></i> Supprimer un choix de menu</h2>
        </div>

        <div class="form-section">
            <h5>Êtes-vous certain de vouloir supprimer ce menu ?</h5>
            <hr />
        </div>
        <div class="row details-row">
            <div class="col-sm-6">@Html.DisplayNameFor(model => model.Menu.nom) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.Menu.nom)</div>
        </div>
        <form asp-action="Delete">
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </form>

        <div class="links">
            <a asp-action="List">Retour à la liste des choix de menu</a>
        </div>
    </div>

</div>